main {
    width: 70%;
    margin: auto;
    margin-top: 10em;
    text-align: center;
    padding-bottom: 5em;
}
span.special {
    font-family: 'Montserrat', sans-serif;
    color: #F91F60;
  }

.circle1 {
    border: solid #F91F60 1px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 1;
    position: absolute;
    margin-left: -25px;
    margin-top: -50px;
}

.circle2 {
    border: solid #F91F60 1px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    z-index: 1;
    position: absolute;
    margin-left: 20px;
    margin-top: -55px;
}

.circle3 {
    border: solid #F91F60 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 1;
    position: absolute;
    margin-left: -25px;
    margin-top: -80px;
}

.cards {
    width: 33%;
    display: inline-block;
}

@media only screen and (max-width:600px) {
    .cards {
        width: 100%;
    }
}

.cards>p {
    box-sizing: content-box;
    padding: 0 2%;
}

.flourish-right1 {
    position: absolute;
    right: 0;
    margin-top: -450px;
    z-index: 1;
}

.flourish-right2 {
    position: absolute;
    right: 0;
    margin-top: -1000px;
    z-index: 1;
}

.flourish-left {
    position: absolute;
    left: 0;
    margin-top: -400px;
}

.profiles {
    text-align: left;
    padding-bottom: 2em;
}

.profile-body {
    display: inline-block;
    top: 0;
    width: 80%;
}

div.tag {
    width: fit-content;
    text-transform: uppercase;
    /* height: 43px;
    padding: 5px 15px;
    border-radius: 50%;
    border: 1px solid #F91D61; */
}

.tag>p {
    color: #F91D61;
}





