.main-container:first-child {
    padding-top: 80px;
}

.special {
    color: #F91F60;
    font-weight: bold;
}

.section_center p {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 80%;
}
@media only screen and (max-width:830px) {
    .section_center p {
        max-width: 100%;
    }
}

.circle {
    border: solid #F91F60 2px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.circle__1 {
  width: 53px;
  height: 53px;
  margin-left: -26px;
  margin-top: -45px;
}

.circle__2 {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-top: -63px;
}

.circle__3 {
    width: 15px;
    height: 15px;
    margin-left: -3px;
    margin-top: -87px;
}

.cards {
    width: 33%;
    float: left;
    min-height: 300px;
    top: 0;
    padding: 10px 1.6%;
    position: relative;
    z-index: 999;
    box-sizing: border-box;
}
@media only screen and (max-width:830px) {
    .cards {
        width: 100%;
        margin: 0 auto;
        min-height: auto;
        margin-bottom: 25px;
    }
    .cards p {
        width: 80%;
        margin: 0 auto;
    }
}

.cards p {
  margin: 0 auto;
  padding: 0 3vw;
}

.cards img {
    width: 100%;
    max-width: 130px;
}

.flourish-right1 {
    position: absolute;
    right: 0;
    margin-top: -450px;
    z-index: 1;
    width: 40vw;
    max-width: 200px;
}
@media only screen and (max-width:830px) {
    .flourish-right1 {
      margin-top: -308px;
      width: 30vw;
    }
}

.flourish-right2 {
    position: absolute;
    width: 20vw;
    max-width: 140px;
    right: 0;
    margin-top: -700px;
    z-index: 1;
}

.flourish-left {
    position: absolute;
    left: 0;
    width: 30vw;
    max-width: 162px;
    margin-top: -460px;
}

.flourish-bot {
    max-width: 130px;
    position: relative;
    top: -50px;
    margin-bottom: -30px;
}

.profiles {
    position: relative;
    z-index: 999;
    overflow: auto;
    text-align: left;
    padding-bottom: 2em;
}

.profile-wrapper {
    width: 100%;
    top: 0;
    height: auto;
}

.profile-img {
    width: 20%;
    max-width: 200px;
    float: left;
    height: 100%;
    box-sizing: border-box;
}
@media only screen and (max-width:600px) {
    .profile-img {
        padding-right: 6px;
        margin-top: 15px;
    }
}

.profile-content {
    width: 80%;
    float: left;
}

.profile-content p {
    width: 80%;
}
@media only screen and (max-width:600px) {
  .profile-content p {
      width: 100%;
  }
}

.profile-content p:first-child {
    font-size: .7rem;
    margin: 15px 0px 15px 0px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    opacity: 0.5;
    letter-spacing: 2px;
}

.profile-content p:last-child {
  color: #F91D61;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 5px;
  border: 1px solid #F91D61;
  width: auto;
  clear:both;
  float:left;
  padding: 2px 15px;
  border-radius: 90px;
  font-size: .7rem;
  margin-top: 20px;
}

.video-tease {
    width: 118%;
    height: auto;
    position: relative;
    margin-left: -9%;
    margin-bottom: -5em;
}
